## Eksik Değerlerin İncelenmesi

In [3]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [1]:
# eksik değerleri hızlıca gidermeye yönelik basit bir yöntem:

In [4]:
#Hiç eksik gozlem var mı sorusuna cevap bulalım?
df.isnull().values.any()

True

In [5]:
# hangi değişkende kaçar tane var?
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [6]:
#df["degisken_ismi"].fillna(0, inplace = True)
df["orbital_period"].fillna(0,inplace = True)

In [7]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [8]:
df["mass"].fillna(df.mass.mean(), inplace = True)

In [9]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [10]:
# Tüm değerlerin ortalamasını direkt alıp na'leri doldurmak için:
df.fillna(df.mean(), inplace = True)

C:\Users\aleyy\AppData\Local\Temp/ipykernel_11604/2622515659.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace = True)

In [11]:
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

In [12]:
# Veri setmizin yapısını bozmuş olduk. Başta copy ile veri setimizi kopyalamamız bize burada fayda sağlayacak.
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [13]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64