### Gozlem ve Degisken Secimi

* loc & iloc

In [1]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    25     6    17
1     2    20    22
2     4    13     3
3    24    25    12
4    23    10    13
5     4    28    14
6    29    23     7
7    10    18     5
8    29     4    11
9    11     8     8

* Diyelim kikullanımları unuttuk, hangi argüman neyi ifade ediyordu hatırlamıyoruz. O zaman şunu yapmalıyız:

In [3]:
?np.random.randint

Docstring:
randint(low, high=None, size=None, dtype=int)

Return random integers from `low` (inclusive) to `high` (exclusive).

Return random integers from the "discrete uniform" distribution of
the specified dtype in the "half-open" interval [`low`, `high`). If
`high` is None (the default), then results are from [0, `low`).

.. note::
    New code should use the ``integers`` method of a ``default_rng()``
    instance instead; please see the :ref:`random-quick-start`.

Parameters
----------
low : int or array-like of ints
    Lowest (signed) integers to be drawn from the distribution (unless
    ``high=None``, in which case this parameter is one above the
    *highest* such integer).
high : int or array-like of ints, optional
    If provided, one above the largest (signed) integer to be drawn
    from the distribution (see above for behavior if ``high=None``).
    If array-like, must contain integer values
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  Default is None, in which case a
    single value is returned.
dtype : dtype, optional
    Desired dtype of the result. Byteorder must be native.
    The default value is int.

    .. versionadded:: 1.11.0

Returns
-------
out : int or ndarray of ints
    `size`-shaped array of random integers from the appropriate
    distribution, or a single such random int if `size` not provided.

See Also
--------
random_integers : similar to `randint`, only for the closed
    interval [`low`, `high`], and 1 is the lowest value if `high` is
    omitted.
Generator.integers: which should be used for new code.

Examples
--------
>>> np.random.randint(2, size=10)
array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
>>> np.random.randint(1, size=10)
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Generate a 2 x 4 array of ints between 0 and 4, inclusive:

>>> np.random.randint(5, size=(2, 4))
array([[4, 0, 2, 1], # random
       [3, 2, 2, 0]])

Generate a 1 x 3 array with 3 different upper bounds

>>> np.random.randint(1, [3, 5, 10])
array([2, 2, 9]) # random

Generate a 1 by 3 array with 3 different lower bounds

>>> np.random.randint([1, 5, 7], 10)
array([9, 8, 7]) # random

Generate a 2 by 4 array using broadcasting with dtype of uint8

>>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
array([[ 8,  6,  9,  7], # random
       [ 1, 16,  9, 12]], dtype=uint8)
Type:      builtin_function_or_method

* loc: tanımlandığı şekliyle seçim yapmak için kullanılır.

In [4]:
df.loc[0:3]

   var1  var2  var3
0    25     6    17
1     2    20    22
2     4    13     3
3    24    25    12

* iloc: alışık olduğumuz indeksleme mantığıyla seçim yapar.

In [5]:
df.iloc[0:3]

   var1  var2  var3
0    25     6    17
1     2    20    22
2     4    13     3

In [6]:
df.iloc[0,0]

25

In [7]:
df.iloc[:3,:2]

   var1  var2
0    25     6
1     2    20
2     4    13

In [8]:
df.loc[0:3,"var2"]

0     6
1    20
2    13
3    25
Name: var2, dtype: int32

In [9]:
df.iloc[0:3,"var2"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

Lokasyon tabanlı indekslemeyle ilgili bir uyarı verdi bize.Eğer mutlak bir şekilde değişken ismi veya gözlem birimleri(indekslerin isimlerine göre seçme işlemi) ne göre seçme işlemi yapmak istersek loc'u seçmeliyiz. Bunlara takılmıyorsak da ilocu aşağıdaki gibi kullanacağız.

In [12]:
df.iloc[0:3, 1:3]

   var2  var3
0     6    17
1    20    22
2    13     3

In [13]:
df.iloc[0:3]

   var1  var2  var3
0    25     6    17
1     2    20    22
2     4    13     3

In [14]:
df.iloc[0:3]["var2"]

0     6
1    20
2    13
Name: var2, dtype: int32