### Koşullu Eleman İşlemleri

In [3]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0    26    16    13
1     7    15     3
2    14     8    26
3    22    26    19
4    14    15    10
5    27     1    26
6    19     1     8
7    12     1    10
8    24    19     5
9    11    17     6

In [4]:
df["var1"]

0    26
1     7
2    14
3    22
4    14
5    27
6    19
7    12
8    24
9    11
Name: var1, dtype: int32

In [6]:
df["var1"][0:1]

0    26
Name: var1, dtype: int32

In [7]:
df[0:2]["var1"]

0    26
1     7
Name: var1, dtype: int32

In [8]:
df[0:2]["var1","var2"]

KeyError: ('var1', 'var2')

- Yukarıdakini fancy yardımı ile yapmalıyız.

In [9]:
df[0:2][["var1","var2"]]

   var1  var2
0    26    16
1     7    15

In [13]:
df[df.var1 > 15]

   var1  var2  var3
0    26    16    13
3    22    26    19
5    27     1    26
6    19     1     8
8    24    19     5

In [14]:
df[df.var1 > 15]["var1"]

0    26
3    22
5    27
6    19
8    24
Name: var1, dtype: int32

In [15]:
df[df.var1 > 15]["var2"]

0    16
3    26
5     1
6     1
8    19
Name: var2, dtype: int32

In [19]:
df[(df.var1 > 10) & (df.var3 < 10)]

   var1  var2  var3
6    19     1     8
8    24    19     5
9    11    17     6

In [20]:
df[(df.var1 > 10) , ["var1","var2"]]

TypeError: '(0     True
1    False
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
Name: var1, dtype: bool, ['var1', 'var2'])' is an invalid key

- Doğrusu aşağıdaki gibidir.

In [21]:
df.loc[(df.var1 > 10) , ["var1","var2"]]

   var1  var2
0    26    16
2    14     8
3    22    26
4    14    15
5    27     1
6    19     1
7    12     1
8    24    19
9    11    17

In [23]:
df[(df.var1 > 10)][["var1","var2"]]

   var1  var2
0    26    16
2    14     8
3    22    26
4    14    15
5    27     1
6    19     1
7    12     1
8    24    19
9    11    17